/* Move down content because we have a fixed navbar that is 50px tall */
body {
    
    height: 100%;
}

hr {
    border:2px solid black;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}


/*.container {
    width: 100vw;
    padding:0px;
    margin:0px;
}*/

.headerImage {
    width: 100vw;
    height: 160px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
    top: 0;
    padding-bottom: 0px;
    background-color: rgb(0, 0, 0);
    background-image: url("/Images/MERCHBOOTH_137.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    z-index:17;
}



.bandHeaderImage {
    width: 100vw;
    height: 160px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
    top: 0;
    padding-bottom: 0px;
    background-color: rgb(0, 0, 0);
    background-image: url("../Images/MERCHBOOTH_137.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
}




.navbar {
    position: fixed;
    top: 105px;
    background-color: rgb(0, 0, 0);
    /*background-image: url("../Images/NavBackStars.JPG");
    background-repeat: no-repeat;
    background-size: cover;*/
    font-size: 15px;
    height: 0px;
    width: 0px;
    margin-left: 0px;
    padding: 0px;
}

.navbar-nav {


    position: fixed;
    top: 125px;
    left: 230px;


    background-color: rgb(0, 0, 0);
    /*background-image: url("../Images/NavBackStars.JPG");
    background-repeat: no-repeat;
    background-size: cover;*/
    font-size: 13px;
    font-weight: bold;
    height: 0px;
    width: 470px;
    /*margin-left: 18vw;*/
    opacity: 1;
    padding: 0px;
}

.currentPage:hover{

}


.ImageRow {
    margin-top: 25px;
    display: block;
    text-align: left;
    position: relative;
    top: 160px;
    height: 300px;
    margin: 0px;
}

.BacroundECommerceImages {
    height: 300px;
    width: 100vw;
    z-index: 1;
    position: absolute;
    left: -10vw;
    margin: 0px;
}
.ecBantTitle {
    display: inline;
    position: absolute;
    left: 30px;
    top: 18px;
    z-index: 10;
    background-color: white;
    padding: 5px 25px;
    border-radius: 60px;
    -webkit-user-drag: none;
    color: darkred;
    font-family: 'Segoe UI Black','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.OneImage {
    margin-left: 30px;
    display: inline;        
    position: relative;
    top: 85px;
    z-index: 10;
    /*height: 140px;
    width: 140px;11111111111*/
}

    .OneImage:hover {
        cursor: pointer;
        transition-duration: 0.3s;
        border-radius: 60px;
        height: 150px;
        width: 150px;
        -webkit-user-drag: none;
    }


.ImageRow p {
    display: inline;
    position: relative;
    top: 90px;
    right: 95px;
    font-size: 15px;
    line-height: 25px;
    background-color: white;
    color:darkred;
    font-weight:bold;
}

.image-responsive {
    border-radius: 50px;
    height: 140px;
    width: 140px;
    -webkit-user-drag: none;
    /*display: inline;11111111*/
    position:relative;
    z-index:15;
}

.saleImage {
    border-radius: 50px;
    height: 140px;
    width: 140px;
    -webkit-user-drag: none;
    /*display: inline;11111111*/
    margin-top: 24px;
    margin-bottom: 10px;
}


/*used i ecommerce page of one band only product page*/
.OneBandOnly_BacroundImage {
    position: absolute;
    height: 100%;
    min-height:500px;
    width: 105vw;
    z-index: 1;
    margin: 0px;
}
.oneBandsProductPAGE {
    position: absolute;
    left: 0px;
    top: 160px;
    min-width:300px;
}
.image-responsiveOneBand {
    border-radius: 50px;
    height: 140px;
    width: 140px;
    -webkit-user-drag: none;
    /*display: inline;11111111*/
    position: relative;
    z-index: 15;
    margin-top: 54px;
}

.saleImageOneBand {
    border-radius: 50px;
    height: 140px;
    width: 140px;
    -webkit-user-drag: none;
    /*display: inline;11111111*/
    margin-top: 24px;
    margin-bottom: 10px;
    z-index: 15;
}
/*/////////////////////////////////////////////////////*/

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 260px;
}


/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {
    .jumbotron {
    }
}11111*/

.imgHome {
    max-width:250px !important;
    
}
.page-wrap {
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
}

.site-footer {
    background: black;
    color: white;
    width: 100%;
    position: absolute;
    /*MDE - Fixed footer*/
    /*bottom: 0px;*/
    /*margin-top:25px;
    margin-bottom:0px;
    padding-bottom:20px;*/
    padding-top:10px;
}

.container {
    width:auto;
    padding-left:10%;
    padding-right:10%;
}

/*.adminDefault{
    font-size:13px;
}*/


/*  /////////////////////////////////// /   */
/*     BAND HOME/DEFAULT PAGE - START  */


.bandHomeTableH {
    height: 40px;
    vertical-align: text-top;
    color: #47476b;
    font-size: 17px;
    font-weight: 400;
}



@media(min-width:1200px) {

    .DivBorderTableWrapp {
        border-right: 1px solid #52527a;
        margin-right: 10px;
        height: 300px;
        max-width: 440px;
    }
    .warning {
        color: #b30000;
        font-size: 13px;
        height: 22px;
        margin-top: 10px;
        /*padding-left:25px;*/
    }
    .productLow {
        min-width: 145px;
    }
}
@media(min-width: 768px) and (max-width: 1199.98px) {
    .DivBorderTableWrapp {
        border-right: 1px solid #52527a;
        margin-right: 10px;
        height: 300px;
        margin-bottom: 50px;
        max-width: 440px;
    }

    .warning {
        color: #b30000;
        font-size: 13px;
        height: 22px;
        margin-top: 10px;
        padding-left:25px;
    }
    .productLow {
        min-width: 180px;
    }

}

@media(min-width: 576px) and (max-width: 767.98px) {
    .DivBorderTableWrapp {
        /*border-right: 1px solid #52527a;*/
        /*margin-right: 10px;*/
        height: 300px;
        margin-bottom: 50px;
        max-width: 240px;
        padding-left:25vw;
    }

    .warning {
        color: #b30000;
        font-size: 13px;
        height: 22px;
        margin-top: 10px;
        padding-left: 30px;
    }
    .productLow {
        min-width: 180px;
    }
    .titleAdminDefualt {
        padding-left: 25vw;
        font-size: 50px;
    }
}


@media(max-width: 575.98px) {
    .DivBorderTableWrapp {
        /*border-right: 1px solid #52527a;*/
        margin-right: 10px;
        height: 300px;
        margin-bottom: 50px;
        max-width: 180px;
    }

    .warning {
        color: #b30000;
        font-size: 13px;
        height: 22px;
        margin-top: 10px;
        padding-left: 25px;
    }
    .productLow {
        min-width: 170px;
    }
}


.titleAdminDefualt {
    color: mediumblue;
    margin-bottom: 30px;
}

@media(min-width:1200px) {
    .titleAdminDefualt {
        margin-bottom: 50px;
        font-size:60px;
    }
}

@media(min-width: 768px) and (max-width: 1199.98px) {

    .titleAdminDefualt {
        margin-bottom: 40px;
        font-size: 50px;
    }
}

.bandNaeSales{
    min-width: 110px;
    margin-bottom: 16px;
}

.upcomming {
    min-width: 110px;
    margin-bottom: 16px;
}
.reports {
    margin-bottom: 16px;
}


/*///////////////////////////////////////////////////*/
/*  Report - Sales By Date - START  */

.ReportTable td {
    border: 1px solid #52527a;
    padding: 5px 20px;
}

.reportTableHeader {
    height: 40px;
    vertical-align: text-top;
    color: #47476b;
    font-size: 17px;
    font-weight: 400;
}

.reportTitle {
    color: mediumblue;
    margin-bottom: 30px;
}
.datecolumn {
    background-color: #c2c2d6;
}
/*////////////////////////////////////////////*/


/*///////////////////////////////////////////////////*/
/*  Report - Sales By Customer - START  */

.DivBorderTableWrappCustomer {
    height: 100%;
    width: 100%;
}
.datecolumnCustomer {
    background-color: #e4e4ed;
    min-width: 80px;
    text-align: center;
    padding:2px;
}
.customerTotal {
    color: blue;
    background-color: white;
    font-weight: bold;
}
.customerName {
    background-color: white;
    font-weight: bold;
}
.cusAddress{
    min-width:220px;
}
.cusnameTHeader {
    min-width: 130px;
}
/*///////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////*/
/*  Report - Sales By Product - START  */
.DivBorderTableWrappProduct {
    height: 100%;
    width: 100%;
    margin-bottom:50px;
}

.datecolumnProduct {
    background-color: #e4e4ed;
    text-align: center;
    padding: 4px;
    min-width: 50px;
}

.productTotal {
    color: blue;
    background-color: white;
    font-weight: bold;
    min-width: 120px;
}

.productType {
    background-color: white;
    font-weight: bold;
    min-width: 120px;
}

.TypeSelected {
    min-width: 130px;
    text-align:left;
    padding-left:20px;
}
.productAvrege {
    min-width: 120px;
}
.tableDataHeaders {
    border: 1px solid #52527a;
    padding-top: 6px;
    text-align: center;
}



/*Added form MERCHBOOTH homepage 11/30*/

#cartImage {
    object-fit: cover;
    /* padding-top: 15px; */
    position: absolute;
    left: 465px;
    top: 15px;
    margin-right: 15px;
    margin-left: 10px;
    height: 28px;
    z-index: 25;
    margin-top: -10px;
}

#cartCount {
    position: absolute;
    left: 491px;
    top: 10px;
    line-height: 28px;
    margin-right: 40px;
    color: white;
    /*float: right;*/
    font-size: 14px;
    z-index: 25;
    margin-top: -10px;
}

    #cartCount:hover {
        cursor: default;
    }

    /*Copy form Customer/defualt page - only changing the left position*/

#cartImageCustomer {
    object-fit: cover;
    /* padding-top: 15px; */
    position: absolute;
    left: 425px;
    top: 15px;
    margin-right: 15px;
    margin-left: 10px;
    height: 28px;
    z-index: 25;
    margin-top: -10px;
}

#cartCountCustomer {
    position: absolute;
    left: 451px;
    top: 10px;
    line-height: 28px;
    margin-right: 40px;
    color: white;
    /*float: right;*/
    font-size: 14px;
    z-index: 25;
    margin-top: -10px;
}

    #cartCount:hover {
        cursor: default;
    }

#clearCartCustomer {
    object-fit: cover;
    /* padding-top: 15px; */
    position: absolute;
    left: 420px;
    top: 13px;
    height: 13px;
    z-index: 25;
}

    #clearCartCustomer:hover {
        cursor: pointer;
    }
    /*///////////////////////////////////////////////////////*/


#clearCart {
    object-fit: cover;
    /* padding-top: 15px; */
    position: absolute;
    left: 461px;
    top: 13px;
    height: 13px;
    z-index: 25;
}
    #clearCart:hover {
        cursor: pointer;
    }

.cartLink {
    background-color: gold;
}

.buttonlink {
    padding: 20px;
}

    .buttonlink:hover {
        cursor: pointer;
    }

#CartImgBtn {
    height: 60px;
    width: 100px;
    background-color: goldenrod;
    color: burlywood;
    position: fixed;
    top: 190px;
    right: 50px;
    z-index: 17;
}





.CartWrapper {
    position: absolute;
    top: 300px;
    /*margin-left:auto;*/
    border: 3px solid black;
    background-color: bisque;
}

.CartRow {
    width: 300px;
    font-size: 20px;
    border: 3px solid black;
    background-color: bisque;
    padding: 20px 0px 20px 20px;
}

.CartTotalRow {
    font-size: 20px;
    height: 60px;
    border: 3px solid black;
    background-color: bisque;
}






.ProductTotal {
    position: relative;
    bottom: 60px;
    left: 30px;
    margin-right: 25px;
    font-size: 20px;
    display: inline;
}




.CartTotal {
    margin-left: 190px;
    border: none;
}


/*//////////////////////////////*/

/*Customer/Account (includes Orders) page*/
.tableCaption{
    font-size:30px;
    text-align:left;
    color:darkblue;
    margin-bottom:20px;
}

.CuatomerDivBorderTableWrapp {
    border-right: 1px solid #52527a;
    margin-right: 10px;
    height: 300px;
    max-width: 440px;
    margin-top: 200px;
    font-size: 15px;
}

.CustomerReportTable td {
    border: 1px solid #52527a;
    padding: 5px 20px;
}

.reportTableHeader {
    height: 40px;
    vertical-align: text-top;
    color: #47476b;
    font-size: 17px;
    font-weight: 400;
}

.reportTitle {
    color: mediumblue;
    margin-bottom: 30px;
}

.datecolumnCustomerID {
    color: darkblue;
    font-size: 16px;
    font-weight: bold;
}

.datecolumnCustomerID {
    color: darkblue;
    font-size: 16px;
    background-color:white;
}

.datecolumnCustomerGray {
    background-color: #c2c2d6;
}
.datecolumnCustomer {
    background-color: white;
}
.productName {
    font-weight: bold;
}

.productTotal {
    color: darkblue;
    font-weight:bold;
}

.CustomerTableDataHeaders {
    text-align: center;
    font-size: 18px;
    padding: 5px 20px;
    border: 2px solid #52527a;
}
.titleCustomerDefualt {
    margin-bottom: 20px;
    font-size: 30px;
    color: darkblue;
}

.C_small {
    width: 50px;
}

.C_large {
    min-width: 140px;
}

.C_med {
    width: 90px;
}
/*//////////////////////////////*/


.OneImageOneBand {
    /*margin-left: 30px;*/
    display: inline;
    position: relative;
    /*top: 85px;*/
    z-index: 10;
    /*height: 140px;
    width: 140px;11111111111*/
}

.OneImageOneBand p{
    display: inline;
    position: relative;
    top: 90px;
    right: 95px;
    font-size: 15px;
    line-height: 25px;
    background-color: white;
    color: darkred;
    font-weight: bold;
    z-index:20;
}

/*.AllBacroundECommerceImages {

    height: 300px;
    width: 100vw;
    z-index: 1;
    position: absolute;
    left: -10vw;
    margin: 0px;

}*/