/* Move down content because we have a fixed navbar that is 50px tall */
body {
    
    height: 100%;
}

hr {
    border:2px solid black;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}


.headerImage {
    width: 100vw;
    height: 160px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
    top: 0;
    padding-bottom: 0px;
    background-color: rgb(0, 0, 0);
    background-image: url("../Images/MERCHBOOTH_137.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    z-index:99;
}



.bandHeaderImage {
    width: 100vw;
    height: 160px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
    top: 0;
    padding-bottom: 0px;
    background-color: rgb(0, 0, 0);
    background-image: url("../Images/MERCHBOOTH_137.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99;
}




.navbar {
    position: fixed;
    top: 105px;
    background-color: rgb(0, 0, 0);
    /*background-image: url("../Images/NavBackStars.JPG");
    background-repeat: no-repeat;
    background-size: cover;*/
    font-size: 15px;
    height: 0px;
    width: 0px;
    margin-left: 0px;
    padding: 0px;
}

.navbar-nav {
    position: fixed;
    top: 125px;
    left: 230px;
    background-color: rgb(0, 0, 0);
    /*background-image: url("../Images/NavBackStars.JPG");
    background-repeat: no-repeat;
    background-size: cover;*/
    font-size: 13px;
    font-weight: bold;
    height: 0px;
    width: 300px;
    /*margin-left: 18vw;*/
    opacity: 1;
    padding: 0px;
}



/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 260px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 270px;
    }
}

.imgHome {
    max-width:250px !important;
    
}
.page-wrap {
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
}

.site-footer {
    background: black;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0px;
    margin-top:25px;
    margin-bottom:0px;
    padding-bottom:20px;
    padding-top:10px;
}

.container {
    width:auto;
    padding-left:10%;
    padding-right:10%;
}

/*.adminDefault{
    font-size:13px;
}*/


/*  /////////////////////////////////// /   */
/*     BAND HOME/DEFAULT PAGE - START  */


.bandHomeTableH {
    height: 40px;
    vertical-align: text-top;
    color: #47476b;
    font-size: 17px;
    font-weight: 400;
}



@media(min-width:1200px) {

    .DivBorderTableWrapp {
        border-right: 1px solid #52527a;
        margin-right: 10px;
        height: 300px;
        max-width: 440px;
    }
    .warning {
        color: #b30000;
        font-size: 13px;
        height: 22px;
        margin-top: 10px;
        /*padding-left:25px;*/
    }
    .productLow {
        min-width: 145px;
    }
}
@media(min-width: 768px) and (max-width: 1199.98px) {
    .DivBorderTableWrapp {
        border-right: 1px solid #52527a;
        margin-right: 10px;
        height: 300px;
        margin-bottom: 50px;
        max-width: 440px;
    }

    .warning {
        color: #b30000;
        font-size: 13px;
        height: 22px;
        margin-top: 10px;
        padding-left:25px;
    }
    .productLow {
        min-width: 180px;
    }

}

@media(min-width: 576px) and (max-width: 767.98px) {
    .DivBorderTableWrapp {
        /*border-right: 1px solid #52527a;*/
        /*margin-right: 10px;*/
        height: 300px;
        margin-bottom: 50px;
        max-width: 240px;
        padding-left:25vw;
    }

    .warning {
        color: #b30000;
        font-size: 13px;
        height: 22px;
        margin-top: 10px;
        padding-left: 30px;
    }
    .productLow {
        min-width: 180px;
    }
    .titleAdminDefualt {
        padding-left: 25vw;
        font-size: 50px;
    }
}


@media(max-width: 575.98px) {
    .DivBorderTableWrapp {
        /*border-right: 1px solid #52527a;*/
        margin-right: 10px;
        height: 300px;
        margin-bottom: 50px;
        max-width: 180px;
    }

    .warning {
        color: #b30000;
        font-size: 13px;
        height: 22px;
        margin-top: 10px;
        padding-left: 25px;
    }
    .productLow {
        min-width: 170px;
    }
}


.titleAdminDefualt {
    color: mediumblue;
    margin-bottom: 30px;
}

@media(min-width:1200px) {
    .titleAdminDefualt {
        margin-bottom: 50px;
        font-size:60px;
    }
}

@media(min-width: 768px) and (max-width: 1199.98px) {

    .titleAdminDefualt {
        margin-bottom: 40px;
        font-size: 50px;
    }
}

.bandNaeSales{
    min-width: 110px;
    margin-bottom: 16px;
}

.upcomming {
    min-width: 110px;
    margin-bottom: 16px;
}
.reports {
    margin-bottom: 16px;
}


/*///////////////////////////////////////////////////*/
/*  Report - Sales By Date - START  */

.ReportTable td {
    border: 1px solid #52527a;
    padding: 5px 20px;
}

.reportTableHeader {
    height: 40px;
    vertical-align: text-top;
    color: #47476b;
    font-size: 17px;
    font-weight: 400;
}

.reportTitle {
    color: mediumblue;
    margin-bottom: 30px;
}
.datecolumn {
    background-color: #c2c2d6;
}
/*////////////////////////////////////////////*/


/*///////////////////////////////////////////////////*/
/*  Report - Sales By Customer - START  */

.DivBorderTableWrappCustomer {
    height: 100%;
    width: 100%;
}
.datecolumnCustomer {
    background-color: #e4e4ed;
}
.customerTotal {
    color: blue;
    background-color: white;
    font-weight: bold;
}
.customerName {
    background-color: white;
    font-weight: bold;
}

